<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Tugas Akhir Melia</title>
    
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/twitter.jpeg">
    <link rel="stylesheet" href="static/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="static/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <style>
        img {
          border-radius: 50%;
          padding: 10px;
        }
        #chart {
          max-width: 650px;
          margin: 35px auto;
        }

</style>
</head>

<body>
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img src="static/images/logo_tweet.jpg" alt="Avatar" style="width:80px">
                <span class="d-none d-lg-block">Analisis Sentiment</span>
            </a>
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <ul class="navbar-nav header-right">     
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="./app-profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="./email-inbox.html" class="dropdown-item">
                                        <i class="icon-envelope-open"></i>
                                        <span class="ml-2">Inbox </span>
                                    </a>
                                    <a href="./page-login.html" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Menu</li>
                    <li><a class="has-arrow" href="{{url_for('dashboard')}}" aria-expanded="true">
                        <i class="fa fa-th-large" aria-hidden="true"></i><span class="nav-text">Dashboard</span></a>
                    </li>
                    <li><a class="has-arrow" href="{{url_for('data_tweet')}}" aria-expanded="true">
                        <i class="fa fa-twitter"></i><span class="nav-text">Data Tweet</span></a>
                    </li>
                    <li><a class="has-arrow" href="{{url_for('preprocessing')}}" aria-expanded="true">
                        <i class="fa fa-refresh"></i><span class="nav-text">Preprocessing</span></a>
                    </li>
                    <li><a class="has-arrow" href="{{url_for('pelabelan_manual')}}" aria-expanded="true">
                        <i class="fa fa-pencil-square-o"></i><span class="nav-text">Pelabelan Manual</span></a>
                    </li>
                    <li><a class="has-arrow" href="{{url_for('training')}}" aria-expanded="true">
                        <i class="fa fa-spinner"></i><span class="nav-text">Training Data</span></a>
                    </li>
                    <li><a class="has-arrow" href="{{url_for('testing')}}" aria-expanded="true">
                        <i class="fa fa-recycle"></i><span class="nav-text">Testing Data</span></a>
                    </li>
                    <li><a class="has-arrow" href="{{url_for('klasifikasi')}}" aria-expanded="true">
                        <i class="fa fa-files-o"></i><span class="nav-text">Klasifikasi Naive Bayes</span></a>
                    </li>
                    
                </ul>
            </div>
        </div>

        <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Data Twitter</div>
                                    <div class="stat-digit"></i>{{total}}</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success w-75" role="progressbar" aria-valuenow="total" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Positf</div>
                                    <div class="stat-digit"></i>{{positif}}</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary w-75" role="progressbar" aria-valuenow="positif" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Netral</div>
                                    <div class="stat-digit">{{netral}}</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning w-50" role="progressbar" aria-valuenow="netral" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Negatif</div>
                                    <div class="stat-digit"></i>{{negatif}}</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger w-65" role="progressbar" aria-valuenow="negatif" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Confusion Matrix Data Training</h4>
                            </div>
                            <img src="data:image/png;base64, {{training}}">
                            <div class="card-body">   
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Confusion Matrix Data Testing</h4>
                            </div>
                            <img src="data:image/png;base64, {{akurasi}}">
                            <div class="card-body">   
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Naive Bayes Classification</h4>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="myChart"></canvas>
                                        <script>
                                        var xValues = ["Data Positif", "Data Negatif", "Data Netral"];
                                        var yValues = [{{positif}}, {{negatif}}, {{netral}}];
                                        var barColors = ["green","red","grey"];

                                        new Chart("myChart", {
                                          type: "bar",
                                          data: {
                                            labels: xValues,
                                            datasets: [{
                                              backgroundColor: barColors,
                                              data: yValues
                                            }]
                                          },
                                          options: {
                                            legend: {display: false},
                                            title: {
                                              display: true,
                                              text: "Analisis Sentimen Data Twitter"
                                            },         
                                            scales :{
                                                yAxes: [{
                                                    scaleLabel: {
                                                        display: true,
                                                        labelString: "Jumlah Data Twitter"
                                                    },
                                                    ticks: {
                                                        min: 0,
                                                        max: 10000,
                                                        maxTicksLimit: 5,
                                                        padding: 10,
                                                    },
                                                }],
                                                xAxes: [{
                                                        scaleLabel: {
                                                            display: true,
                                                            labelString: "Kelas Sentiment"
                                                        },
                                                    }],
                                                },
                                            },
                                        });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <script src="static/vendor/global/global.min.js"></script>
    <script src="static/js/quixnav-init.js"></script>
    <script src="static/js/custom.min.js"></script>
    <script src="static/js/dashboard/dashboard-2.js"></script>
    <script src="static/apexcharts/apexcharts.min.js"></script>

</body>

</html>
