<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Tugas Akhir Melia</title>
    
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/twitter.jpeg">
    <link rel="stylesheet" href="static/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="static/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/vendor/chartist/css/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        img {
            border-radius: 50%;
            padding: 10px;
            width: 1800px;
        }
        i {
            margin-right: 5px;
        }

</style>
</head>

<body>
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img src="static/images/logo_tweet.jpg" alt="Avatar" style="width:80px">
                <span class="d-none d-lg-block">Analisis Sentiment</span>
            </a>
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>

        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="./app-profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>

                                    <a href="./page-login.html" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Menu</li>
                    <li><a class="has-arrow" href="{{url_for('dashboard')}}" aria-expanded="true">
                        <i class="fa fa-th-large" aria-hidden="true"></i><span class="nav-text">Dashboard</span></a>
                    </li>
                    <li><a class="has-arrow" href="{{url_for('data_tweet')}}" aria-expanded="true">
                        <i class="fa fa-twitter"></i><span class="nav-text">Data Tweet</span></a>
                    </li>
                    <li><a class="has-arrow" href="{{url_for('preprocessing')}}" aria-expanded="true">
                        <i class="fa fa-refresh"></i><span class="nav-text">Preprocessing</span></a>
                    </li>
                    <li><a class="has-arrow" href="{{url_for('pelabelan_manual')}}" aria-expanded="true">
                        <i class="fa fa-pencil-square-o"></i><span class="nav-text">Pelabelan Manual</span></a>
                    </li>
                    <li><a class="has-arrow" href="{{url_for('testing')}}" aria-expanded="true">
                        <i class="fa fa-spinner"></i><span class="nav-text">Training Data</span></a>
                    </li>
                    <li><a class="has-arrow" href="{{url_for('testing')}}" aria-expanded="true">
                        <i class="fa fa-recycle"></i><span class="nav-text">Testing Data</span></a>
                    </li>
                    <li><a class="has-arrow" href="{{url_for('klasifikasi')}}" aria-expanded="true">
                        <i class="fa fa-files-o"></i><span class="nav-text">Klasifikasi Naive Bayes</span></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-12 p-md-0">
                        <div class="welcome-text">
                            <h4>Preprocessing Data</h4>
                            <p>
                                <form action="{{ url_for('preprocessing') }}" method = "post" enctype="multipart/form-data">
                                    <button type="submit", name="text", value="preprocessing" class="btn btn-primary"><i class="fa fa-refresh"></i>Preprocessing</button>
                            </form>
                        </p>
                        {% for data_preprocessing in data_preprocessing %}
                        <h3><td>{{ data_preprocessing | safe }}</td></h3>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="static/vendor/global/global.min.js"></script>
<script src="static/js/quixnav-init.js"></script>
<script src="static/js/custom.min.js"></script>

<script src="static/vendor/chartist/js/chartist.min.js"></script>

<script src="static/vendor/moment/moment.min.js"></script>
<script src="static/vendor/pg-calendar/js/pignose.calendar.min.js"></script>

<script src="static/js/dashboard/dashboard-2.js"></script>
<script src="static/vendor/global/global.min.js"></script>
<script src="static/js/quixnav-init.js"></script>
<script src="static/js/custom.min.js"></script>



<!-- Datatable -->
<script src="static/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="static/js/plugins-init/datatables.init.js"></script>
<link href="static/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">

</html>